# Node artifact files
node_modules/
dist/
coverage/


# Package files
*.jar

# Maven
target/
dist/

# Application
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.mov
*.mdb

*.babelrc
.parcel-cache
