html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(248, 245, 242);
}

#root{
    font-family: 'montserrat';
    min-height: 100vh;
    width : 160vh;     
    /* background-color: aquamarine;    */
    border-radius: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

/* header */
a{
    text-decoration: none;
    color: black;
    display: block;
}

#title{
    /* padding: 0px 10px; */
    font-weight: 750;
    font-size: 40px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 25px;
    width: 90%;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    gap: 30px;
    margin: 0px 25px;
     
}

.nav-items>ul>li{
    padding: 10px;
    padding-left: 20px;
}

.nav-items>ul>li>a{
    color: #9b9494;
}


/* for search buttons */
:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 3rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
  position: relative;
  width: 30.5rem;
  background: var(--color-brand);
  border-radius: var(--rad);

}
input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.0rem;
}
input[type="search"] {
  outline: 0; 
  width: 100%;
  background: var(--color-light);
  padding: 0px 1.2rem;
  border-radius: var(--rad);
  appearance: none; 
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: 300;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


/* body */
.manycards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cards{
    /* background-color: #cdb6b6;   */
    width: 250px;
    height: 300px;
    text-align: center;
    padding: 2px 1px;
    margin: 10px 14px;
}

.cards>a{
    display: block;
    margin: auto;
}

.ratings{   
    font-size: 15px;
    margin: 1px;
    padding: 2.5px;    
}
#cuisines{
    color: #9f9e9eb4;
}

/* hover effect of images */
.card {
    width: 200px;
    height: 200px;
    background-color: #57bd84;
    border-radius: 1.5rem;
    overflow: hidden;
    transform: translateZ(0);
}  
.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
} 
.card:is(:hover, :focus-visible) {
    --hover: 1;
}

#star{
    width: 14px;
}

/* footer */
footer{
    display: flex;
    align-self: center;
    justify-content: center;
    background: #fcf6f6;
    border-radius: 1%;
    width: 100%;
}

footer>div>p{
    font-size: 16px;
}